In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('weight-height.csv')
dataset.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [ ]:
dataset.nunique ()

Gender        2
Height    10000
Weight    10000
dtype: int64

In [ ]:
dataset['Height'] * 2,54

(0       147.694034
 1       137.563808
 2       148.220211
 3       143.461957
 4       139.763592
            ...
 9995    132.345304
 9996    134.134309
 9997    127.735984
 9998    138.068486
 9999    123.888492
 Name: Height, Length: 10000, dtype: float64, 54)

In [ ]:
dataset['Weight'] / 2,54

(0       120.946782
 1        81.155236
 2       106.370428
 3       110.021235
 4       103.174900
            ...
 9995     68.388727
 9996     85.433953
 9997     64.237659
 9998     81.926231
 9999     56.824551
 Name: Weight, Length: 10000, dtype: float64, 54)

In [ ]:
df_male = dataset[dataset['Gender'] == 'Male'].copy()

In [ ]:
df_female = dataset[dataset['Gender'] == 'Female'].copy()

In [ ]:
def func(df_male):
    return len(df_male)
func(df_male)

10000

In [ ]:
def func(df_female):
    return len(df_female)
func(df_female)

5000

In [61]:
def mean(n):
  sumVales = 0
  for i in n:
    sumVales+=i
    return sumVales/func(df_male)
  mean(df_male['Height'])

In [62]:
def deviation(n):
  dispersion = 0
  mathmin=mean(n)
  print(mathmin)
  for i in n:
      dispersion+=(i - mathmin)**2
  return (dispersion/func(n))**0.5
  diss(df_male['Height'])